Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets --all-features
Features: test-name=rust-pyo3-macros:@
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets
Features: test-name=librust-pyo3-macros-dev:default
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets --no-default-features --features experimental-async
Features: test-name=librust-pyo3-macros-dev:experimental-async
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets --no-default-features --features experimental-inspect
Features: test-name=librust-pyo3-macros-dev:experimental-inspect
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets --no-default-features --features multiple-pymethods
Features: test-name=librust-pyo3-macros-dev:multiple-pymethods
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test pyo3-macros 0.27.2 --all-targets --no-default-features
Features: test-name=librust-pyo3-macros-dev:
Depends: dh-cargo (>= 31), rustc (>= 1.74), @
Restrictions: allow-stderr, skip-not-installable
